@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<h1>Byt lösenord</h1>

<div>

        <div class="col-md-12">
            @RenderBody()
        </div>

</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
