@model IEnumerable<float> 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<h1>Default</h1>

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['line'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Datum');
        data.addColumn('number', 'Temperatur');
        
        //var myArray = new Array();    @*@foreach (var d in Model)    {        @:myArray.push("@d");    }*@        int i;
        for (i = 0; i < @Model.Count(); i++) {
            data.addRow([[i, "@Model"[i]]]);
        }
            //Få in siffror på båda
        //data.addRows([
        //    [1,  41.8],
        //    [2, 32.4],
        //    [3, 25.7],
        //    [4, 10.5],
        //    [5, 10.4],
        //    [6, 7.7],
        //    [7, 9.6],
        //    [8, 10.6],
        //    [9, 14.8],
        //    [10, 11.6],
        //    [11, 4.7],
        //    [12, 5.2],
        //    [13, 3.6],
        //    [14, 3.4]
        //]);

        var options = {
            chart: {
                title: 'Test',
                subtitle: 'Test'
            },
            width: 900,
            height: 500,
            axes: {
                x: {
                    0: { side: 'top' }
                }
            }
        };

        var chart = new google.charts.Line(document.getElementById('line_top_x'));

        chart.draw(data, google.charts.Line.convertOptions(options));
    }
</script>



<div id="line_top_x"></div>
@*//Div för diagrammet*@