@*@model IEnumerable<float>*@ 
@model IEnumerable<Measurement>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script type="text/javascript">
    google.charts.load('current', { 'packages': ['line'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Datum');
        data.addColumn('number', 'Temperatur');
        data.addColumn('number', 'Medeltemperatur 2020');
        data.addColumn('number', 'Medeltemperatur 2019');

  
    var temperatures = [];

    @foreach (var m in Model)
    {
        @:temperatures.push("@m.Value");

    }

        var medianTemperature = 0;

        for (var i = 0; i < temperatures.length; i++) {
            medianTemperature += parseFloat(temperatures[i])
        }
        temperatures.average

        medianTemperature = medianTemperature / temperatures.length;

        for (i = 0; i < temperatures.length; i++) {
            data.addRow([i, parseFloat(temperatures[i]), medianTemperature, medianTemperature - 0.80]);
    }

                var options = {
            chart: {
                title: 'Senaste temperaturen'
            },
            width: 900,
            height: 500,
            axes: {
                x: {
                        0: { side: 'top' }
                    }
                }
            };

            var chart = new google.charts.Line(document.getElementById('line_top_x'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
</script>



<div id="line_top_x"></div>
@*//Div för diagrammet*@