<link rel="stylesheet" href="~/css/site.css" />

<div class="soHead">
    <h1>Senaste gjorda observationer</h1>
    <a href="" style="font-size: 20px">Visa mer</a>
</div>

<br />

<div class="box">
    <div class="box1">
        <h2>Observation 1</h2>
        <p>Datum</p>
        <p>Här finns information om observation 1</p>
    </div>
    <div class="box2">
        <h2>Observation 2</h2>
        <p>Datum</p>
        <p>Här finns information om observation 2</p>
    </div>
    <div class="box3">
        <h2>Observation 3</h2>
        <p>Datum</p>
        <p>Här finns information om observation 3</p>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />