
@{
    ViewData["Title"] = "ReportObservationCompleted";
}

<h1>Tack, din observation är nu sparad</h1>

<br/>
<a href="@Url.Action("ReportObservationStep1", "ReportObservation")" class="btn btn-primary" >Ny observation</a>

