@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<Klimatkollen.Models.UserFilter>
@{
    ViewData["Title"] = "Default";
}
@if (SignInManager.IsSignedIn(User))
{
    <h3>Mina nuvarande intressen</h3>
    <br />
    <div>
        @foreach (var item in Model)
        {
            <p>@item.FilterName</p>
            <hr />
        }
    </div>
}
else
{
    <p>inga filter....</p>
}


