
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset='UTF-8' />
<link rel="stylesheet" href="~/css/site.css" />

<br />
<br />
<body>

    <div class="slidershow middle">
        <div class="slides">
            <input type="radio" name="r" id="r1" checked />
            <input type="radio" name="r" id="r2" />
            <input type="radio" name="r" id="r3" />
            <input type="radio" name="r" id="r4" />

            <div class="slide s1">
                <img src="~/pictures/forest.jpg" alt="" />
            </div>

            <div class="slide">
                <img src="~/pictures/fox.jpg" alt="" />
            </div>

            <div class="slide">
                <img src="~/pictures/sky.jpg" alt="" />
            </div>

            <div class="slide">
                <img src="~/pictures/hare.jpg" alt="" />

            </div>
        </div>

        <div class="navigation">
            <label for="r1" class="bar"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
            <label for="r4" class="bar"></label>
        </div>
    </div>
</body>
