/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 15px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


.buttonTemp {
    /*background-color: white;*/
    border: #4CAF50;
    border-width: 5px;
    color: black;
    /*padding: 80px 100px;*/
    width: 250px;
    height: 175px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.smallbtn {
    width: 200px;
    height: 150px;
}
.superSmallBtn {
    width: 120px;
    height: 90px;
}
    .active, .activeTwo, .activeThree, .buttonTemp:hover {
        background-color: #4CAF50;
        color: white;
    }
.activeBtnTwo {
    background-color: #4CAF50;
    color: white;
}
.btn-primary, .btn-primary:hover {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
    padding: 10px 12px 10px 12px;
    min-width: 80px;
}
    .btn-primary:hover {
        background-color: #3d8b40;
        border-color: #3d8b40;
    }
.btn-right {
    position: absolute;
    right: 0%;
}
.btn-sec {
    background-color: #e7e7e7;
    color: black;
    padding: 10px 12px 10px 12px;
    min-width: 120px;
}
@media (max-width: 400px) {
    .buttonTemp {
        /*min-width: 250px;
        max-width: 300px;*/
        display: inline-block;
        width: 150px;
        height: 100px;
        /*display: block;*/
        margin: auto;
        margin-bottom: 5px;
    }
    .smallbtn {
        width: 150px;
        height: 100px;
        display: inline-block;
        margin: auto;
        margin-bottom: 10px;
    }
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    margin: 0;
    padding: 0;
}



#msform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

    #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
        /*stacking fieldsets above each other*/
        position: relative;
    }
        /*Hide all except first fieldset*/
        #msform fieldset:not(:first-of-type) {
            display: none;
        }
    /*inputs*/
    #msform input, #msform h6 {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        /*width: 100%;*/
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        font-size: 13px;
    }
    /*buttons*/
    #msform .action-button {
        width: 100px;
        background: #27AE60;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px;
    }

        #msform .action-button:hover, #msform .action-button:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
        }
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

    #progressbar li {
        list-style-type: none;
        color: white;
        text-transform: uppercase;
        font-size: 9px;
        width: 33.33%;
        float: left;
        position: relative;
    }

        #progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            color: #333;
            background: white;
            border-radius: 3px;
            margin: 0 auto 5px auto;
        }
        /*progressbar connectors*/
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1; /*put it behind the numbers*/
        }

        #progressbar li:first-child:after {
            /*connector not needed before the first step*/
            content: none;
        }
        /*marking active/completed steps green*/
        /*The number of the step and the connector before it = green*/
        #progressbar li.active:before, #progressbar li.active:after {
            background: #27AE60;
            color: white;
        }



/*SLIDER ONE*/

@media only screen and (max-width: 400px) {
    #slideOne, #slideTwo {
        width:100%;
        height:auto;
        /*display: none;*/
        
    }
}
    .slidershow {
        width: 700px;
        height: 400px;
        overflow: hidden;
    }

    .middle {
        margin: auto auto auto auto;
        top: 50%;
        left: 50%;
        transform: translate(-1%, -1%);
    }

    .navigation {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }

    .bar {
        width: 50px;
        height: 10px;
        border: 2px solid #fff;
        margin: 6px;
        cursor: pointer;
        transition: 0.4s;
    }

        .bar:hover {
            background: #fff;
        }

    input[name="r"] {
        position: absolute;
        visibility: hidden;
    }

    .slides {
        width: 500%;
        height: 100%;
        display: flex;
    }

    .slide {
        width: 20%;
        transition: 0.6s;
    }

        .slide img {
            width: 100%;
            height: 100%;
        }

    #r1:checked ~ .s1 {
        margin-left: 0;
    }

    #r2:checked ~ .s1 {
        margin-left: -20%;
    }

    #r3:checked ~ .s1 {
        margin-left: -40%;
    }

    #r4:checked ~ .s1 {
        margin-left: -60%;
    }



/*SLIDER TWO*/
.slider2 {
    width: 700px;
    height: 400px;
    background: url(../pictures/forest.jpg);
    background-size: 700px 400px;
    margin: 20px auto;
    animation: slide 20s infinite;
}
@keyframes slide{
    25%{
        background: url(/pictures/fox.jpg);
        background-size: 700px 400px;
    }
    50% {
        background: url(/pictures/sky.jpg);
        background-size: 700px 400px;
    }
    75% {
        background: url(/pictures/hare.jpg);
        background-size: 700px 400px;
    }
    100%{
        background: url(/pictures/forest.jpg);
        background-size: 700px 400px;
    }
}

/*BECOME MEMBER*/
.member h1, .member h4, .member div {
    text-align: center;
    
}

.colorMember {
    background-color: #cadbce;
    padding-bottom: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 5px grey;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    border-radius: 25px;
}

@media only screen and (min-width: 400px) {
    .colorMember {
        margin-left: 100px;
        margin-right: 100px;
    }
}

/*SEE OBSERVATIONS*/
.observationscontainer{
    max-height:100%;

}
.box1 {
    background-color: #cadbce;
}
.box2 {
    background-color: #ddebe0;
}
.box3 {

    background-color: #e9f7ec;

}

.box1, .box2, .box3 {
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
    display: inline-block;
    width: 30%;
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

@media only screen and (max-width: 400px) {
    .box1, .box2, .box3 {
        width: 80%;
        margin-top: 15px;
    }
}


        /*}
        margin-bottom: 5px;
    }*/
    h1{
        font-size: 2.2em;
    }
    .btn-right {
        position: absolute;
        right: 5%;
    }
    #catDiv {
        margin: 20px;
    }
    #valueBox {
        margin: 20px;
    }

#observation_Comment, #Observation_Comment, #Comment {
    width: 100%;
    min-height: 100px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/*Filters*/
.filters {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-right: 5px;
}

    .filters:hover {
        color: #FFF;
        background-color: #4CAF50;
        border: 1px solid #4CAF50;
    }

.box {
    border: 1px solid #ddd;
    padding: 15px 15px;
    /*background-color: #E9F5E9;*/
    box-shadow: 0px 0px 5px 1px #ddd;
}
.observationBox {
    border: 1px solid #ddd;
    padding: 15px 15px;
    
    box-shadow: 0px 0px 2px 0.5px #ddd;
}
#SearchString {
    width: 50%;
    font-size: 14px;
    padding: 12px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
}
@media only screen and (max-width: 450px) {
    #SearchString {
        width: 100%;
    }
}
.table td {
    border-top: none;
    border-bottom: none;
}
.btn-outline-primary {
    border-color: #4CAF50;
    color: #4CAF50;
}
    .btn-outline-primary:hover {
        color: white;
        background-color: #4CAF50;
    }
   
.chart {
    width: 100%;
    min-height: 450px;
}
.row {
    margin: 0 !important;
}