<link rel="stylesheet" href="~/css/site.css" />


<div class="colorMember">

<div class="member">
    <h1>Engagera dig - <br /> bli klimatobservatör idag!</h1>
    <h4>Gör något bra för forskningen, bli medlem gratis.</h4>
    <div>
    <a href="/Identity/Account/Register?returnUrl=%2F" style="font-size:20px;">Jag vill bli klimatobservatör</a>
    </div>
    
</div>
</div>