@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" style="font-size:22px; margin-top:1px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" asp-action="ReportObservationStep1" asp-controller="ReportObservation" title="Registrera ny observation">Ny observation</a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link text-dark" style="font-size:22px; margin-top:1px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" asp-action="Index" asp-controller="Observations" title="Se alla observationer">Alla observationer</a>
            </li>*@

            <li class="nav-item">
                <a class="nav-link text-dark" style="font-size:22px; margin-top:1px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" asp-action="UserProfile" asp-controller="Profile" title="Till min profil">Min profil</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" style="font-size:22px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" class="nav-link btn btn-link text-dark">Logga ut</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" style="font-size:22px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" asp-area="Identity" asp-page="/Account/Register">Registrera dig</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" style="font-size:22px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
            </li>
        }
    </ul>