@*@{
    Layout = null;
}*@
@model IEnumerable<Observation>
<h1>Hej</h1>
@foreach(var v in Model)
{
	<li>@v.Comment</li> //PÅ NÅGOT SÄTT SKICKA IN LONGITUD OCH LATITUD
}
                                                                                                           






