@*@{
    Layout = null;
}*@
@model IEnumerable<MainCategory>
<h1>Hej</h1>
@foreach(var v in Model)
{
	<li>@v.CategoryName</li> 
}
                                                                                                              cgtf






