@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Startsida";
}
@model Observation


@if (SignInManager.IsSignedIn(User))
{
    <h2>Välkommen till Klimatkollen</h2>
    <p>På nedan karta ser du de observationer som gjorts utifrån dina intressen. Dessa kan hanteras under <a asp-action="UserProfile" asp-controller="Profile" title="Till min profil">min profil.</a></p>
    <p>Eller klicka här för att se <a asp-action="Index" asp-controller="Observations" title="Till min profil">alla observationer.</a></p>
    <a class="btn btn-primary" asp-action="ReportObservationStep1" asp-controller="ReportObservation" title="Se alla observationer">Rapportera ny observation</a>
    <br />
    <br />
    <div>
        @await Component.InvokeAsync("ObservationsOnMap")
    </div>
}
else
{
    <div>
        @await Component.InvokeAsync("SliderOne")
    </div>
    <div>
        @await Component.InvokeAsync("BecomeMember")
    </div>
}

<br />
<div>
    @await Component.InvokeAsync("SeeObservations")
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div>
    @await Component.InvokeAsync("Chart")
</div>








