@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Startsida";
}
@model Observation


@if (SignInManager.IsSignedIn(User))
{
    <br />
    <div style="margin-left:5%; margin-right:5%; padding:2%; background-color:#cadbce; border-radius:7px; ">
        <h2>Hej, och välkommen in till oss!</h2>
        <p>På kartan här nere ser du de observationer som gjorts utifrån dina intressen. Dessa kan du ändra under <a asp-action="UserProfile" asp-controller="Profile" title="Till min profil">min profil.</a></p>
        <p>Eller klicka här för att se <a asp-action="Index" asp-controller="Observations" title="Till min profil">alla gjorda observationer.</a></p>
        <a class="btn btn-primary" asp-action="ReportObservationStep1" asp-controller="ReportObservation" title="Se alla observationer">Rapportera ny observation</a>
    </div>
    <br />
    <br />
    <div>

        @await Component.InvokeAsync("ObservationsOnMap")
    </div>
}
else
{
    <div>
        @await Component.InvokeAsync("SliderOne")
    </div>
    <h1 style="text-align:center">Välkommen till Klimatkollen</h1>
    <br/>
    <div>
        @await Component.InvokeAsync("BecomeMember")
    </div>
}

<br />
<div>
    @await Component.InvokeAsync("SeeObservations")
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div>
    @await Component.InvokeAsync("Chart")
</div>








