@{
    ViewData["Title"] = "Våran integritetspolicy";
}
<h1>Vår integritetspolicy</h1>

<p>Vi använder platsdata till att identifiera enhetens position.
    Vi sparar namnuppgifter och e-postadress i identifieringssyfte.
    Vi är snälla, lovar!</p>